{% extends "base.html" %}

{% block content %}
{% spaceless %}
<div class="row">
    <h1>{{ title_page }}</h1>
    {% if not rez %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Start">
        </form>
    {% else %}
        {% for field in form %}
            <p>{{ field.label }} - {{ field.data }}</p>
        {% endfor %}
        <p>{{ rez }}</p>
    {% endif %}
</div>
{% endspaceless %}
{% endblock %}
