<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple game</title>
</head>
<body>
{% spaceless %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2018.<br />
                </div>
                <div class="col-md-6">
                    Developed by Mykola Yaremov
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
</div>
  </body
</html>
